{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    {% if current_user.is_authenticated %}
    <script>
        window.setInterval('refresh()', 15000); 	
        
        function refresh() {
            window .location.reload();
        }
      </script>
        <div class = "content-section">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"></legend>
                    <div class="form-group">
                        {{ form.content.label(class="form-control-label") }}
                        {% if form.content.errors %}
                            {{ form.content(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.content.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.content(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div>
                    {{form.submit(class="btn btn-outline-info")}}
                </div>
            </form>
        </div>
        <br><br><br>
        <div class = "content-section" style="text-align: center;">
            {%for chat in chats%}
                <h3>{{chat.author.username}}:</h3>
                <p>
                    {{chat.content}}
                </p>
            {%endfor%}
        </div>
    {%else%}
        <div style="text-align: center;">
            <h1>Login/Register To Continue</h1>
        </div>
    {%endif%}
    
{% endblock %}